<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/header_style.css">
</head>
<body>
    <div class="mainHeader_section">
        <div class="header_content">
            <div><a href="/"><button>
                <img src="/photos/home_logo.png" width="30px" height="30px" alt="">Homepage
            </button></a></div>
            <div><a href="/addEmployee"><button>
                <img src="/photos/add-user-icon.png" width="30px" height="30px" alt="">Add User
            </button></a></div>
            <div><a href="/getuser"><button>
                <img src="/photos/find_user_logo.png" width="30px" height="30px" alt="">Get User
            </button></a></div>
            
        </div>
    </div>
</body>
</html>